target
target/*
logs
www/www-app/*/src/main/webapp/gwt
www/*/src/main/webapp/gwt
*cache.htm
*cache.html
*cache.xml
*.swp
.classpath
.settings
.project
.wtpmodules
.wtpmodules
.*.jsfdia
*.iml
*.ipr
*.iws
.rpminfo
*~

src/main/resources/import.sql
hibernate.properties
